@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Sansita');
.MMM-Chart .wrapper{
	text-align: justify;
	width: 400px;
	
}

.MMM-Chart .list-row {
    width: 140px;
  white-space: normal;
  white-space: pre-line;
    }

.MMM-Chart .left {
   float: left;
   padding: 0 20px 20px 0;
}
.MMM-Chart .photo {
    width: 100px;
    height: 100px;
    }
.MMM-Chart .nophoto {

    width: 100px;
    height: 100px;
    }
.MMM-Chart .list-center {
    text-align: center;
    }
.MMM-Chart .list-right {
    padding:1px;
    float:right;
    }

.MMM-Chart .list-title {
    margin-top: 1px;   
    padding:2px;
    margin-left: 5px;
    line-height: .3em;
    }

.MMM-Chart .list-filters { padding:8px; }
