.MMM-MusicCharts .first-div {
  width:120px;
  float:left;
  margin-right: 15px;
}
.MMM-MusicCharts .second-div {
  width:130px;
  float:left;
  margin-right: 15px;
}
.MMM-MusicCharts .third-div {
  width:170px;
  float:left;
}
.MMM-MusicCharts .photo {
  width:125px;
  height: 125px;
}
