.MMM-MusicCharts .main {
    width: 430px;
    height: 270px; 
    display: -webkit-flex; /* Safari */
    -webkit-align-items: center; /* Safari 7.0+ */
    display: flex;
    align-items: center;
    padding-right: 5px;
}

.MMM-MusicCharts .main div {
   -webkit-flex: 1; /* Safari 6.1+ */
   flex: 1;
}
.MMM-MusicCharts .span {
    margin-left: 10px;
    color: #d1d1d1;
    font-size: 13px;
    font-style: italic;
    font-weight:bold;
    display:block;
}

.MMM-MusicCharts .photo {
  width:125px;
  height:125px;
}
